body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.56rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.64rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #771005 !important;
  border-color: #771005 !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #c2a200 !important;
  border-color: #c2a200 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #f5cc00 !important;
  border-color: #f5cc00 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #771005 !important;
  border-color: #771005 !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #003566 !important;
}
.bg-success {
  background-color: #d01c04 !important;
}
.bg-info {
  background-color: #771005 !important;
}
.bg-warning {
  background-color: #123c5f !important;
}
.bg-danger {
  background-color: #0e0e0e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #003566 !important;
  border-color: #003566 !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #003566;
  border-color: #003566;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #003566 !important;
  border-color: #003566 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f5cc00 !important;
  border-color: #f5cc00 !important;
  color: #000000;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #000000;
  background-color: #f5cc00;
  border-color: #f5cc00;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000;
  background-color: #f5cc00 !important;
  border-color: #f5cc00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #771005 !important;
  border-color: #771005 !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #771005;
  border-color: #771005;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #771005 !important;
  border-color: #771005 !important;
}
.btn-success,
.btn-success:active {
  background-color: #d01c04 !important;
  border-color: #d01c04 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #d01c04;
  border-color: #d01c04;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #d01c04 !important;
  border-color: #d01c04 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #123c5f !important;
  border-color: #123c5f !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #123c5f;
  border-color: #123c5f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #123c5f !important;
  border-color: #123c5f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #003566;
  border-color: #003566;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #003566 !important;
  border-color: #003566 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #8f7700;
  color: #8f7700;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000;
  background-color: #f5cc00;
  border-color: #f5cc00;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #f5cc00 !important;
  border-color: #f5cc00 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #150301;
  color: #150301;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #771005;
  border-color: #771005;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #771005 !important;
  border-color: #771005 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #6c0f02;
  color: #6c0f02;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #d01c04;
  border-color: #d01c04;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #d01c04 !important;
  border-color: #d01c04 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #020609;
  color: #020609;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #123c5f;
  border-color: #123c5f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #123c5f !important;
  border-color: #123c5f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0e0e0e !important;
  border-color: #0e0e0e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #003566 !important;
}
.text-secondary {
  color: #f5cc00 !important;
}
.text-success {
  color: #d01c04 !important;
}
.text-info {
  color: #771005 !important;
}
.text-warning {
  color: #123c5f !important;
}
.text-danger {
  color: #0e0e0e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #006acc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffe45c !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fb553f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #d91d09 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #2272b5 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #414141 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #771005;
}
.alert-warning {
  background-color: #123c5f;
}
.alert-danger {
  background-color: #0e0e0e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #003566;
  border-color: #003566;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #003566;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #0077e6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdada3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f1200a;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #2680ca;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c1c1c1;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
blockquote {
  border-color: #003566;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #003566;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #003566;
  border-bottom-color: #003566;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #003566 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5cc00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23003566' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tFD1QNOavM {
  background-color: #123c5f;
}
.cid-tFD1QNOavM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFD1QNOavM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .container {
    padding: 0 16px;
  }
}
.cid-tFD1QNOavM .title-wrapper {
  position: relative;
  padding: 0 200px;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper {
    padding: 0;
  }
}
.cid-tFD1QNOavM .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper .title-wrap .mbr-section-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .cid-tFD1QNOavM .title-wrapper .title-wrap .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tFD1QNOavM .title-wrapper .title-wrap .text-wrap {
  padding: 0 40px;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper .title-wrap .text-wrap {
    padding: 0;
  }
}
.cid-tFD1QNOavM .title-wrapper .title-wrap .text-wrap .mbr-text {
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper .title-wrap .text-wrap .mbr-text {
    margin-bottom: 10px;
  }
}
.cid-tFD1QNOavM .title-wrapper .title-wrap .text-wrap .mbr-desc {
  margin: 25px 0 0;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper .title-wrap .text-wrap .mbr-desc {
    margin: 10px 0 0;
  }
}
.cid-tFD1QNOavM .title-wrapper img {
  position: absolute;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper img {
    display: none;
  }
}
.cid-tFD1QNOavM .title-wrapper .image_1 {
  top: 0;
  left: 0;
}
.cid-tFD1QNOavM .title-wrapper .image_2 {
  right: 0;
  top: 4rem;
}
.cid-tFD1QNOavM .title-wrapper .image_3 {
  bottom: -3rem;
  right: 3rem;
}
.cid-tFD1QNOavM .title-wrapper .image_4 {
  bottom: -6rem;
  left: 4rem;
}
.cid-tFD1QNOavM .title-wrapper .line_1 {
  position: absolute;
  top: 0;
  left: 7rem;
  width: 1px;
  height: 100%;
  border-left: 2px dashed #08323c;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper .line_1 {
    display: none;
  }
}
.cid-tFD1QNOavM .title-wrapper .line_2 {
  position: absolute;
  top: 5rem;
  right: 3rem;
  width: 1px;
  height: 80%;
  border-left: 2px solid #08323c;
}
@media (max-width: 992px) {
  .cid-tFD1QNOavM .title-wrapper .line_2 {
    display: none;
  }
}
.cid-tFD1QNOavM .mbr-section-title {
  color: #08323C;
}
.cid-tFD1QNOavM .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-tFD1QNOavM .mbr-desc {
  color: #fbbe36;
  text-align: center;
}
.cid-tFD1QNOavM .mbr-section-title,
.cid-tFD1QNOavM .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tFCY3gVK43 {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tFCY3gVK43 H2 {
  color: #e7272d;
  text-align: center;
}
.cid-tFCY3gVK43 .mbr-text,
.cid-tFCY3gVK43 .mbr-section-btn {
  color: #808080;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tFCY3gVK43 .row {
    position: relative;
  }
  .cid-tFCY3gVK43 .row .mbr-figure {
    width: 600px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -100px;
  }
  .cid-tFCY3gVK43 .row .mbr-figure img {
    max-width: 600px;
  }
}
.cid-tFCY3gVK43 img {
  max-width: 500px;
  margin: auto;
}
.cid-tFCY3gVK43 H1 {
  text-align: left;
}
.cid-tG9foJMCrP {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tG9foJMCrP H2 {
  color: #e7272d;
}
.cid-tG9foJMCrP .mbr-text,
.cid-tG9foJMCrP .mbr-section-btn {
  color: #808080;
  text-align: left;
}
.cid-tG9foJMCrP img {
  max-width: 500px;
  margin: auto;
}
.cid-tG9foJMCrP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tG9foJMCrP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGjX7AVRi5 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tGjX7AVRi5 H2 {
  color: #e7272d;
}
.cid-tGjX7AVRi5 .mbr-text,
.cid-tGjX7AVRi5 .mbr-section-btn {
  color: #808080;
  text-align: left;
}
.cid-tGjX7AVRi5 img {
  max-width: 500px;
  margin: auto;
}
.cid-tGjX7AVRi5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGjX7AVRi5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGjYVYnK35 {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tGjYVYnK35 H2 {
  color: #e7272d;
  text-align: left;
}
.cid-tGjYVYnK35 .mbr-text,
.cid-tGjYVYnK35 .mbr-section-btn {
  color: #808080;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tGjYVYnK35 .row {
    position: relative;
  }
  .cid-tGjYVYnK35 .row .mbr-figure {
    width: 600px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -100px;
  }
  .cid-tGjYVYnK35 .row .mbr-figure img {
    max-width: 600px;
  }
}
.cid-tGjYVYnK35 img {
  max-width: 500px;
  margin: auto;
}
.cid-tGjYVYnK35 H1 {
  text-align: left;
}
.cid-tFCY3huaK2 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tFCY3huaK2 .card-subtitle {
  margin: 0;
}
.cid-tFCY3huaK2 .btn {
  padding: 0.6rem 1.8rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef !important;
}
.cid-tFCY3huaK2 .item-wrapper {
  background: #ffffff;
  padding: 1rem;
  border-radius: 9px;
  transition: all 0.3s;
  border: 1px solid #efefef;
  cursor: pointer;
  overflow: visible;
}
.cid-tFCY3huaK2 h4,
.cid-tFCY3huaK2 h6,
.cid-tFCY3huaK2 h5 {
  margin: 0;
}
.cid-tFCY3huaK2 .mbr-text {
  transition: all 0.3s;
}
.cid-tFCY3huaK2 .btn-white-outline {
  color: #003566 !important;
}
.cid-tFCY3huaK2 .price {
  color: #e7272d;
  transition: all 0.3s;
}
.cid-tFCY3huaK2 img {
  transition: all 0.3s;
  width: 170px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.cid-tFCY3huaK2 .card {
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2rem;
}
.cid-tFCY3huaK2 .card:hover {
  transform: translateY(-2rem);
}
.cid-tFCY3huaK2 .card:hover .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
  background: #003566;
  color: #ffffff !important;
}
.cid-tFCY3huaK2 .card:hover .item-wrapper .price {
  color: #ffffff !important;
}
.cid-tFCY3huaK2 .card:hover .item-wrapper .mbr-text {
  color: #ffffff !important;
}
.cid-tFCY3huaK2 .card:hover .card-img {
  transform: translateY(2rem) scale(1.2);
}
.cid-tFCY3huaK2 .card:hover .btn {
  background: #fbbe36 !important;
  color: black !important;
  border-color: #fbbe36 !important;
}
.cid-tFCY3huaK2 .card-img {
  width: 100%;
  position: relative;
  transition: all 0.3s;
  padding-top: 2rem;
}
.cid-tFCY3huaK2 .card-img img {
  max-width: 200px;
}
.cid-tFCY3huaK2 .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tFCY3huaK2 .wrapper {
    flex-direction: column;
  }
  .cid-tFCY3huaK2 .icon-padding {
    padding-left: 0rem;
  }
  .cid-tFCY3huaK2 .card-box {
    padding: 0;
  }
}
.cid-tFCY3huaK2 .mbr-text,
.cid-tFCY3huaK2 .mbr-section-btn,
.cid-tFCY3huaK2 .card-img {
  color: #808080;
}
.cid-tFCY3huaK2 H2 {
  color: #e7272d;
}
.cid-tFCY3huaK2 .card-img img {
  max-width: 200px;
}
.cid-tFCY3huaK2 .card-title,
.cid-tFCY3huaK2 .card-img {
  color: #0e0e0e;
}
.cid-tFCY3iwLEs {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tFCY3iwLEs .card-subtitle {
  margin: 0;
}
.cid-tFCY3iwLEs .card1 {
  background: #f5cc00;
}
.cid-tFCY3iwLEs .card2 {
  background: #003566;
}
.cid-tFCY3iwLEs .card3 {
  background: #d01c04;
}
.cid-tFCY3iwLEs .item {
  margin-bottom: 2rem;
}
.cid-tFCY3iwLEs .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  transition: all 0.6s;
  overflow: hidden;
  position: relative;
}
.cid-tFCY3iwLEs .item-wrapper:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-tFCY3iwLEs .item-wrapper:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-tFCY3iwLEs .item-wrapper:hover:before {
  opacity: 0.3;
  width: 0;
}
.cid-tFCY3iwLEs .item-wrapper:hover:after {
  opacity: 0.3;
  height: 0;
}
.cid-tFCY3iwLEs .item-wrapper img {
  width: 130px;
  transition: all 0.6s;
  border-radius: 9px;
}
.cid-tFCY3iwLEs .item-wrapper .card-box {
  padding: 1rem;
}
.cid-tFCY3iwLEs .item-wrapper .link {
  transition: all 0.3s;
  text-decoration: underline;
}
.cid-tFCY3iwLEs .item-wrapper .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-tFCY3iwLEs .item-wrapper .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-tFCY3iwLEs .item-wrapper .mbr-section-btn .btn {
  border: 0px;
}
.cid-tFCY3iwLEs .item-wrapper .mbr-section-btn .btn:hover {
  background: inherit !important;
  color: inherit !important;
}
.cid-tFCY3iwLEs .item-wrapper h4,
.cid-tFCY3iwLEs .item-wrapper h6,
.cid-tFCY3iwLEs .item-wrapper h5 {
  margin: 0;
}
.cid-tFCY3iwLEs .item-wrapper .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-tFCY3iwLEs .item-wrapper .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-tFCY3iwLEs .item-wrapper .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-tFCY3iwLEs .item-wrapper .card {
  cursor: pointer;
  height: fit-content;
}
.cid-tFCY3iwLEs .item-wrapper .card .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}
.cid-tFCY3iwLEs .card-img {
  justify-content: center;
  align-items: center;
  display: flex;
}
.cid-tFCY3iwLEs .row {
  justify-content: center;
}
.cid-tFCY3iwLEs .location,
.cid-tFCY3iwLEs .icon-wrap {
  color: #e7272d;
}
.cid-tFCY3iwLEs .link,
.cid-tFCY3iwLEs .link-wrap,
.cid-tFCY3iwLEs .link-align {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-tFCY3iwLEs .wrapper {
    flex-direction: column;
  }
  .cid-tFCY3iwLEs .icon-padding {
    padding-left: 0rem;
  }
  .cid-tFCY3iwLEs .card-box {
    padding: 0;
  }
}
.cid-tFCY3iwLEs H2 {
  color: #e7272d;
}
@media (max-width: 767px) {
  .cid-tFCY3iwLEs .item-wrapper {
    flex-direction: column;
  }
}
.cid-tFCY3iwLEs .card-title,
.cid-tFCY3iwLEs .card-img {
  color: #ffffff;
}
.cid-tGkz409xYK {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #003566;
}
.cid-tGkz409xYK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tGkz409xYK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tGkz409xYK .footer-col {
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  .cid-tGkz409xYK .footer-col {
    flex-direction: column;
  }
}
.cid-tGkz409xYK .row {
  background: #003566;
  padding: 3rem;
  border-radius: 2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tGkz409xYK .row {
    padding: 2rem 1rem;
  }
}
.cid-tGkz409xYK .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tGkz409xYK .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
@media (max-width: 767px) {
  .cid-tGkz409xYK .row {
    text-align: center;
  }
  .cid-tGkz409xYK .social-row {
    justify-content: center;
  }
}
.cid-tGkz409xYK .list {
  list-style: none;
  padding-left: 0;
  color: #502274;
}
@media (max-width: 991px) {
  .cid-tGkz409xYK .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tGkz409xYK .list {
    margin-bottom: 0rem;
  }
}
.cid-tGkz409xYK .mbr-text {
  color: #bbbbbb;
}
.cid-tGkz409xYK .mbr-iconfont {
  color: white;
}
.cid-tGkz409xYK .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tGkz409xYK .list,
.cid-tGkz409xYK .item-wrap {
  color: #ffffff;
}
.cid-tGkz409xYK .copyright {
  color: #ffffff;
}
.cid-tGkz409xYK H5 {
  color: #ffffff;
}
.cid-tFDFriRKj9 {
  position: relative;
  overflow: visible;
  min-height: 110px !important;
  background: #003566;
}
@media (min-width: 991px) {
  .cid-tFDFriRKj9 {
    min-height: 170px !important;
  }
}
.cid-tFDFriRKj9 .empty_md {
  display: none;
}
@media (max-width: 991px) {
  .cid-tFDFriRKj9 .empty_md {
    display: block;
  }
}
.cid-tFDFriRKj9 .container,
.cid-tFDFriRKj9 .container-fluid,
.cid-tFDFriRKj9 .empty_md {
  min-height: 110px !important;
}
@media (min-width: 991px) {
  .cid-tFDFriRKj9 .container,
  .cid-tFDFriRKj9 .container-fluid,
  .cid-tFDFriRKj9 .empty_md {
    min-height: 170px !important;
  }
}
.cid-tFDFriRKj9 .nav-link {
  position: relative;
  margin: 0 2vw !important;
  padding: 0 !important;
  font-weight: 600;
}
.cid-tFDFriRKj9 .top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}
@media (max-width: 991px) {
  .cid-tFDFriRKj9 .top_menu {
    min-height: 110px !important;
  }
}
.cid-tFDFriRKj9 .navbar-caption:hover {
  color: #f5cc00 !important;
}
.cid-tFDFriRKj9 .menu_wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .cid-tFDFriRKj9 .top_menu {
    min-height: 58px;
    position: relative;
  }
  .cid-tFDFriRKj9 .top_menu:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #003566;
  }
  .cid-tFDFriRKj9 .icons-menu {
    display: flex;
    justify-content: flex-end;
  }
  .cid-tFDFriRKj9 .icons-menu .mbr-iconfont {
    font-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 40px;
    margin-left: 1px;
  }
  .cid-tFDFriRKj9 .icons-menu .icons-wrapper {
    border-radius: 50%;
    width: 39px;
    height: 39px;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    margin-right: 5px;
  }
  .cid-tFDFriRKj9 .icons-menu .icons-wrapper:hover {
    background: #003566;
  }
  .cid-tFDFriRKj9 .icons-menu .icons-wrapper:hover .mbr-iconfont {
    color: #ffffff;
  }
  .cid-tFDFriRKj9 .empty,
  .cid-tFDFriRKj9 .icons-menu {
    min-width: 265px;
  }
  .cid-tFDFriRKj9 .navbar-logo {
    margin: 0;
  }
  .cid-tFDFriRKj9 .navbar-logo img {
    margin: auto;
    width: auto;
  }
  .cid-tFDFriRKj9 .btn {
    white-space: nowrap;
  }
  .cid-tFDFriRKj9 .dropdown-menu {
    display: inline-block;
    transform-origin: 50% -50px;
    transform: perspective(300px) rotateX(-15deg);
    opacity: 0;
    visibility: hidden;
  }
  .cid-tFDFriRKj9 .nav-item:hover .nav-link + .dropdown-menu {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
  .is-builder .cid-tFDFriRKj9 .nav-item:hover .nav-link + .dropdown-menu {
    visibility: hidden;
    opacity: 0;
  }
  .cid-tFDFriRKj9 .dropdown-toggle::after,
  .cid-tFDFriRKj9 .nav-dropdown .link.dropdown-toggle::after {
    content: "";
    border: none;
    width: 0;
    margin-left: 0 !important;
  }
}
.cid-tFDFriRKj9 .dropdown-toggle::after {
  content: "\e91a";
  font-family: "Moririse2";
  border: none !important;
  right: 25px !important;
  color: currentColor;
  margin-left: 10px !important;
  margin-top: -10px !important;
  font-size: 10px;
  height: 10px;
  width: 10px;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transform: rotate(45deg);
}
.cid-tFDFriRKj9 .dropdown-menu {
  box-shadow: 0 9px 20px -8px #d9d9d9, 0 0 1px #f2f2f2;
  width: auto;
  min-width: 170px;
  max-width: 320px;
  border-radius: 6px;
  top: 20px;
  left: -5px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.cid-tFDFriRKj9 .dropdown-menu .dropdown.open .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  transform: rotate(0deg);
}
.cid-tFDFriRKj9 .dropdown-menu .dropdown-item {
  line-height: 100%;
  font-weight: normal;
  padding: 10px 20px !important;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.cid-tFDFriRKj9 .dropdown-menu .dropdown-item:hover {
  color: #003566 !important;
  background-color: #001a33;
}
.cid-tFDFriRKj9 .dropdown.open .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(0deg);
}
.cid-tFDFriRKj9 .dropdown.open .dropdown-toggle[aria-expanded="true"] + .dropdown-submenu {
  visibility: visible;
}
.cid-tFDFriRKj9 .navbar .dropdown.open > .dropdown-menu {
  display: inline-block;
  transform: none;
  opacity: 1;
}
.cid-tFDFriRKj9 .nav-dropdown .dropdown-submenu {
  margin: 0 !important;
  top: 2px !important;
}
.cid-tFDFriRKj9 .dropdown-item {
  padding: 0 1.35vw;
  justify-content: center;
  font-weight: 400;
}
.cid-tFDFriRKj9 .nav-item:focus,
.cid-tFDFriRKj9 .nav-link:focus {
  outline: none;
}
.cid-tFDFriRKj9 .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
}
.cid-tFDFriRKj9 .dropdown .dropdown-menu .dropdown-item::after {
  right: .5rem;
}
.cid-tFDFriRKj9 .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-tFDFriRKj9 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tFDFriRKj9 .collapsed .dropdown .dropdown-menu .dropdown-item {
  transition: none;
  margin: 0 !important;
}
.cid-tFDFriRKj9 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tFDFriRKj9 ul.navbar-nav li {
  margin: auto;
}
.cid-tFDFriRKj9 .navbar {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  background: #003566;
}
.cid-tFDFriRKj9 .navbar.opened {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  background: #003566 !important;
}
.cid-tFDFriRKj9 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-tFDFriRKj9 .navbar .navbar-collapse {
    height: 80px;
  }
}
@media (max-width: 991px) {
  .cid-tFDFriRKj9 .navbar .navbar-collapse {
    padding-bottom: 1.5rem;
  }
}
.cid-tFDFriRKj9 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tFDFriRKj9 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tFDFriRKj9 .navbar.collapsed.opened {
    min-height: 120px;
  }
  .cid-tFDFriRKj9 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 5rem - 1rem);
  }
}
.cid-tFDFriRKj9 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-tFDFriRKj9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tFDFriRKj9 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-tFDFriRKj9 .navbar .icons-menu,
  .cid-tFDFriRKj9 .navbar .empty {
    display: none;
  }
  .cid-tFDFriRKj9 .navbar .top_menu {
    justify-content: space-between;
  }
  .cid-tFDFriRKj9 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tFDFriRKj9 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tFDFriRKj9 .navbar .nav-link {
    padding: 5px !important;
  }
  .cid-tFDFriRKj9 .navbar .container-fluid,
  .cid-tFDFriRKj9 .navbar .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .cid-tFDFriRKj9 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-tFDFriRKj9 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tFDFriRKj9 .navbar .navbar-logo img {
    margin: auto;
    width: auto;
    height: 3.6rem !important;
  }
  .cid-tFDFriRKj9 .navbar .dropdown-menu .dropdown-item {
    text-align: center;
    justify-content: center;
  }
  .cid-tFDFriRKj9 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    min-height: 50px;
  }
  .cid-tFDFriRKj9 .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-tFDFriRKj9 .navbar.navbar-short {
  background: #003566 !important;
  min-height: 90px;
}
.cid-tFDFriRKj9 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-tFDFriRKj9 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tFDFriRKj9 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .25s;
  word-break: break-word;
  z-index: 1;
}
.cid-tFDFriRKj9 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tFDFriRKj9 .dropdown-item.active,
.cid-tFDFriRKj9 .dropdown-item:active {
  background-color: transparent;
}
.cid-tFDFriRKj9 .nav-dropdown .link .dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tFDFriRKj9 .nav-dropdown .link .dropdown-toggle[aria-expanded="true"] {
  margin: 0 2vw !important;
}
.cid-tFDFriRKj9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #003566;
}
.cid-tFDFriRKj9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  left: 100%;
}
.cid-tFDFriRKj9 .navbar-buttons {
  text-align: center;
}
.cid-tFDFriRKj9 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-tFDFriRKj9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tFDFriRKj9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-tFDFriRKj9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-tFDFriRKj9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-tFDFriRKj9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-tFDFriRKj9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tFDFriRKj9 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-tFDFriRKj9 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-tFDFriRKj9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tFDFriRKj9 .navbar-dropdown {
  position: absolute;
}
.cid-tFDFriRKj9 a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.cid-tFDFriRKj9 a.nav-link:hover {
  color: #f5cc00 !important;
}
.is-builder .cid-tFDFriRKj9 .dropdown.open > .dropdown-menu {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tFDFriRKj9 .navbar {
    height: 77px;
  }
  .cid-tFDFriRKj9 .navbar.opened {
    height: auto;
  }
  .cid-tFDFriRKj9 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
